# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Variable files
*.tfvars.json

# Lock file
.terraform.lock.hcl

# Sensitive override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
